<a href="https://colab.research.google.com/github/obeabi/ProjectPortfolio/blob/master/FlightCancellation_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Written by Abiola Obembe
# SDS Challenge #1 - Flight Cancellations
## 2020-10-30

## Problem Statement
I have been hired by the US Department of Transportation (DOT) to analyze data from multiple airline carriers in the United States. The DOT wants to help airline carriers reduce the number of flight cancellations and improve travelers' experiences. My job is to help the DOT predict whether or not a flight will be canceled based on the data provided.

### Step 1: Data Preprocessing Tools

In [74]:

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
!pip install category_encoders
import category_encoders as ce

%matplotlib inline
plt.rcParams['figure.figsize'] = (5.0, 4.0) # set default size of plots
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'

print('Libraries installed successfully!')

Requirement already satisfied: category_encoders in /usr/local/lib/python3.6/dist-packages (2.2.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.1.4)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.18.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.17.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Libraries installed successfully!

In [75]:
# Importing the dataset and check the shape and total number of missing values

df_train = pd.read_csv('public_flights.csv')

df_train.head()

   YEAR  MONTH  DAY  ...  DISTANCE SCHEDULED_ARRIVAL  CANCELLED
0  2015      1    1  ...      1448               430          0
1  2015      1    1  ...      2330               750          0
2  2015      1    1  ...      2296               806          0
3  2015      1    1  ...      2342               805          0
4  2015      1    1  ...      1448               320          0

[5 rows x 14 columns]

In [76]:
# print target column name as a list
target_column = [df_train.columns[-1]]

print(target_column)

['CANCELLED']

In [77]:
# Importing the train-set nd check the shape and total number of missing values

print("The shape of the train-set is:", (df_train.shape))
print("The number of rows in the train-set is:", str(df_train.shape[0]))
print("The number of columns in the train-set is:", str(df_train.shape[1]))

missing_valuestrain = df_train.isnull().sum().sum()

print("The number of missing values in the train-set is:", str(missing_valuestrain))

The shape of the train-set is: (838858, 14)
The number of rows in the train-set is: 838858
The number of columns in the train-set is: 14
The number of missing values in the train-set is: 5983

In [78]:
# create dataframe for test test
df_test = pd.read_csv('pred_flights.csv')
df_test.head()

   2015  2  25  3  WN  1046  N731SA  LAS  PHX  700   65   255   905
0  2015  2  25  3  WN  2251  N279WN  LAS  RNO  700   80   345   820
1  2015  2  25  3  WN   857  N277WN  LAS  SMF  700   90   397   830
2  2015  2  25  3  WN  2864  N8632A  LAX  BWI  700  295  2329  1455
3  2015  2  25  3  WN  3220  N8659D  LAX  PHX  700   80   370   920
4  2015  2  25  3  WN  2954  N789SW  LGA  HOU  700  265  1428  1025

In [79]:
# test set dataframe is missing headers information so we will re-initailize it, deleting the target column label
labels = df_train.columns

new_label= labels[:-1]  # select all column labels except the target column

#new_label
df_test = pd.read_csv('pred_flights.csv', header =None, names = new_label)

df_test.head()

   YEAR  MONTH  DAY  ...  SCHEDULED_TIME DISTANCE  SCHEDULED_ARRIVAL
0  2015      2   25  ...              65      255                905
1  2015      2   25  ...              80      345                820
2  2015      2   25  ...              90      397                830
3  2015      2   25  ...             295     2329               1455
4  2015      2   25  ...              80      370                920

[5 rows x 13 columns]

In [80]:
# Importing the test-set and check the shape and total number of missing values

print("The shape of the test-set is:", (df_test.shape))
print("The number of rows in the test-set is:", str(df_test.shape[0]))
print("The number of columns in the test-set is:", str(df_test.shape[1]))

missing_valuestest = df_test.isnull().sum().sum()

print("The number of missing values in the test-set is:", str(missing_valuestest))

The shape of the test-set is: (209717, 13)
The number of rows in the test-set is: 209717
The number of columns in the test-set is: 13
The number of missing values in the test-set is: 1769

### Step 2: Feature Engineering (Training and Test Set )

In [81]:
# Examine the data types for train dataframe
df_train.dtypes

YEAR                     int64
MONTH                    int64
DAY                      int64
DAY_OF_WEEK              int64
AIRLINE                 object
FLIGHT_NUMBER            int64
TAIL_NUMBER             object
ORIGIN_AIRPORT          object
DESTINATION_AIRPORT     object
SCHEDULED_DEPARTURE      int64
SCHEDULED_TIME         float64
DISTANCE                 int64
SCHEDULED_ARRIVAL        int64
CANCELLED                int64
dtype: object

In [82]:
# Check for training set data frame info
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 838858 entries, 0 to 838857
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   YEAR                 838858 non-null  int64
 1   MONTH                838858 non-null  int64
 2   DAY                  838858 non-null  int64
 3   DAY_OF_WEEK          838858 non-null  int64
 4   AIRLINE              838858 non-null  object
 5   FLIGHT_NUMBER        838858 non-null  int64
 6   TAIL_NUMBER          832877 non-null  object
 7   ORIGIN_AIRPORT       838858 non-null  object
 8   DESTINATION_AIRPORT  838858 non-null  object
 9   SCHEDULED_DEPARTURE  838858 non-null  int64
 10  SCHEDULED_TIME       838856 non-null  float64
 11  DISTANCE             838858 non-null  int64
 12  SCHEDULED_ARRIVAL    838858 non-null  int64
 13  CANCELLED            838858 non-null  int64
dtypes: float64(1), int64(9), object(4)
memory usage: 89.6+ MB

In [83]:
# Dealing with missing values in the train-set

df_train.isnull().sum()

YEAR                      0
MONTH                     0
DAY                       0
DAY_OF_WEEK               0
AIRLINE                   0
FLIGHT_NUMBER             0
TAIL_NUMBER            5981
ORIGIN_AIRPORT            0
DESTINATION_AIRPORT       0
SCHEDULED_DEPARTURE       0
SCHEDULED_TIME            2
DISTANCE                  0
SCHEDULED_ARRIVAL         0
CANCELLED                 0
dtype: int64

#### (A) Dealing with Missing Values

In [84]:
# Remove rows with missing target, separate target from predictors
X_full = df_train.copy()
X_full.dropna(axis=0, subset=['CANCELLED'], inplace=True)
y = X_full.CANCELLED
X_full.drop(['CANCELLED'], axis=1, inplace=True)

# Show X_full dataframe representing predictors only
X_full.head()

   YEAR  MONTH  DAY  ...  SCHEDULED_TIME DISTANCE  SCHEDULED_ARRIVAL
0  2015      1    1  ...           205.0     1448                430
1  2015      1    1  ...           280.0     2330                750
2  2015      1    1  ...           286.0     2296                806
3  2015      1    1  ...           285.0     2342                805
4  2015      1    1  ...           235.0     1448                320

[5 rows x 13 columns]

In [85]:
# Print first 10 entries of target column
y[0:10]

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: CANCELLED, dtype: int64

In [86]:
# Break off validation set from training data
from sklearn.model_selection import train_test_split
X_train_full, X_valid_full, y_train, y_valid = train_test_split(X_full, y,train_size=0.8, test_size=0.2, random_state=0)

In [87]:
# Select categorical columns from X_train_full
# All categorical columns
object_cols = [col for col in X_train_full.columns if X_train_full[col].dtype == "object"]
object_cols

['AIRLINE', 'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT']

In [88]:
# Print object caregories for X_train_full for inspection
X_train_full[object_cols].head()

       AIRLINE TAIL_NUMBER ORIGIN_AIRPORT DESTINATION_AIRPORT
645400      HA      N370HA            HNL                 PDX
546962      DL      N334NW            SAN                 MSP
159193      EV      N14904            IAH                 ATL
288445      DL      N553NW            MCO                 ATL
298874      WN      N8312C            ALB                 MCO

In [89]:
# Let us see the cardanilatity of each column for the categorical columns in X_train_full and X_valid_full
# Unique value sin each columns
for cols in object_cols:
    print("Unique values in", cols,  "column in training data:", X_train_full[cols].nunique())
    print("\nUnique values in" , cols,  "column in validation data:", X_valid_full[cols].nunique())

Unique values in AIRLINE column in training data: 14

Unique values in AIRLINE column in validation data: 14
Unique values in TAIL_NUMBER column in training data: 4470

Unique values in TAIL_NUMBER column in validation data: 4372
Unique values in ORIGIN_AIRPORT column in training data: 315

Unique values in ORIGIN_AIRPORT column in validation data: 315
Unique values in DESTINATION_AIRPORT column in training data: 315

Unique values in DESTINATION_AIRPORT column in validation data: 315

In [90]:
# Select categorical columns with relatively low cardinality (convenient but arbitrary)
categorical_cols = [cname for cname in X_train_full.columns if
                    X_train_full[cname].nunique() < 10 and
                    X_train_full[cname].dtype == "object"]
categorical_cols

[]

##### We observe that the cardinality of the columns are all greater than 10 hence one-hot encoding will lead to a huge number of new columns and hence result in the curse of dimensionality problem. Hence in this project we proceed with label encoding for the baseline project. We hope to improve the categorical encoding columns with the category encoder library in the future using the count encoder, target encoder and catboost encoder.

In [91]:
# Columns that can be safely label encoded
good_label_cols = [col for col in object_cols if
                   set(X_train_full[col]) == set(X_valid_full[col])]
                   

# Problematic columns that will be dropped from the dataset
bad_label_cols = list(set(object_cols) - set(good_label_cols))

print('Categorical columns that will be label encoded:', good_label_cols)
print('\nCategorical columns that will be dropped from the dataset:', bad_label_cols)

Categorical columns that will be label encoded: ['AIRLINE', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT']

Categorical columns that will be dropped from the dataset: ['TAIL_NUMBER']

In [92]:
# Drop categorical columns that will not be encoded
label_X_train = X_train_full.drop(bad_label_cols, axis=1)
label_X_valid = X_valid_full.drop(bad_label_cols, axis=1)

# print dataframe for inspection
label_X_train.head()

        YEAR  MONTH  DAY  ...  SCHEDULED_TIME DISTANCE  SCHEDULED_ARRIVAL
645400  2015      2   12  ...           330.0     2603               2230
546962  2015      2    6  ...           227.0     1532               1212
159193  2015      1   11  ...           119.0      689               1424
288445  2015      1   19  ...            87.0      404               2157
298874  2015      1   20  ...           195.0     1073               1820

[5 rows x 12 columns]

In [94]:
# Apply label encoder to each column with categorical data
label_encoder = LabelEncoder()
for col in good_label_cols:
    label_X_train[col] = label_encoder.fit_transform(X_train_full[col])
    label_X_valid[col] = label_encoder.transform(X_valid_full[col])

In [95]:
# Select numerical columns
numerical_cols = [cname for cname in label_X_train.columns if
                label_X_train[cname].dtype in ['int64', 'float64']]

# Keep selected columns only
categorical_cols = good_label_cols  # Must be commented if using one-hot encoding
my_cols = categorical_cols + numerical_cols
X_train = X_train_full[my_cols].copy()
X_valid = X_valid_full[my_cols].copy()

# Organize test set
X_test_full = df_test.copy()
X_test = X_test_full[my_cols].copy()

In [100]:
# Define Preprocessing Steps and import dependecies
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.preprocessing import StandardScaler

# Preprocessing for numerical data
#numerical_transformer = SimpleImputer(strategy='mean')
#numerical_transformer = KNNImputer(n_neighbors=3)
numerical_transformer = Pipeline(steps=[('imputer',KNNImputer(n_neighbors=3) ),('scaler', StandardScaler())])

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[('imputer', SimpleImputer(strategy='most_frequent'))])

In [102]:
# Step 1 : Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(transformers=[ ('num', numerical_transformer, numerical_cols),
                ('cat', categorical_transformer, categorical_cols) ])

# Step 2: Define the Model
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(random_state=0)

# Step 3: Create and Evaluate the Pipeline
from sklearn.metrics import accuracy_score

# Bundle preprocessing and modeling code in a pipeline
my_pipeline = Pipeline(steps=[('preprocessor', preprocessor), ('model', model)])

# Preprocessing of training data, fit model
my_pipeline.fit(X_train, y_train)

# Preprocessing of validation data, get predictions
preds = my_pipeline.predict(X_valid)

# Evaluate the model
score = accuracy_score(y_valid, preds)
print('Accuracy Score:', score)

ValueError: ignored

In [ ]:

# Preprocessing of test data, fit model
#preds_test = my_pipeline.predict(X_test)

# Save test predictions to file
#output = pd.DataFrame({'Id': X_test.index,'CANCELLED': preds_test})
#output.to_csv('submission.csv', index=False)