<a href="https://colab.research.google.com/github/obeabi/ProjectPortfolio/blob/master/RestaurantReviews_Bag_of_Word.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sentiment Analysis on Customers Restaurant Reviews
## Written by Abiola Obembe
### Date 8th of August 2020

In [1]:
# import libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import re
import nltk
print('libraries installed successfully!')

libraries installed successfully!

In [3]:
# Load dataset

df = pd.read_csv('Restaurant_Reviews.tsv', delimiter='\t', quoting=3,  error_bad_lines=True)
df.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

## Data Cleaning/Wrangling

In [4]:
# Check for shape/size of dataframe
print("The number of rows of the dataframe is", df.shape[0],"and the number of columns in the dataframe is", df.shape[1])

The number of rows of the dataframe is 1000 and the number of columns in the dataframe is 2

In [5]:
# Check for missing values
df.isnull().sum()

Review    0
Liked     0
dtype: int64

In [7]:
# Check for data types
df.dtypes

Review    object
Liked      int64
dtype: object